{% extends 'base.html.twig' %}

{% block title %}Réservations{% endblock %}

{% block body %}
    <h1>Enregistrer une nouvelle réservation</h1>
    
    <div class="table table-dark " >
    {{ include('reservation/_form.html.twig') }}
    </div>
    <button class="btn btn-outline-light me-5" type="button"><a href="{{ path('app_reservation_index') }}">retour à la liste</a></button>
    

{% endblock %}
