{% extends 'base.html.twig' %}

{% block title %}présentation de l'établissement{% endblock %}

{% block body %}
 
<h2>Des Trucs:</h2>
<p>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse praesentium deserunt omnis excepturi. Magni cum autem rem, dolorum unde ipsum dolore neque sed optio ex suscipit debitis esse animi aliquam, tempora quidem sapiente itaque eveniet ut officia.
 Dolores recusandae maxime aperiam quam quo, sapiente ipsam at iusto amet perferendis! Perferendis.
</p>

{% include 'includes/cardBungalow.html.twig' %}
{% include 'includes/cardTente.html.twig' %}
{% include 'includes/cardCampingCar.html.twig' %}

<div>
   <h1>Les trucs qui sont bien:</h1>
 <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates asperiores quae architecto aperiam est natus assumenda sunt consectetur nesciunt fuga voluptatibus, ratione quo tenetur incidunt odit, perspiciatis id dicta ullam eaque sapiente non labore iure veritatis. Adipisci, perspiciatis fugiat? Dolorum iste adipisci veniam. Rerum, blanditiis obcaecati molestiae totam nesciunt consequuntur illo magni ducimus eum. Consequuntur dolorum ea laudantium earum non doloribus mollitia cupiditate qui. Aut consectetur repellendus incidunt similique rerum.</h2>
</div>


   

 

{% endblock %}
