{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Modifier un client</h1>

    {{ include('client/_form.html.twig', {'button_label': 'mettre à jour'}) }}

   <button class="btn btn-light"><a href="{{ path('app_client_index') }}">retour à la liste</a></button>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
